body {
    margin: 0;
/*    overflow-y: hidden;*/
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: beige;
    border-bottom: 1px solid #aaa;
}

.container1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: beige;
    border-bottom: 1px solid #aaa;
}

.start {
    width: 50%;
}

.inner1 {
    width: 25%;
}

.inner2 {
    width: 50%;
}

.inner3 {
    width: 75%;
}

p {
    line-height: 1.5em;
    font-size: 17px;
}

a {
    color: black;
    font-size: 20px;
    padding-right: 10px;
}
